Repository OpenUp-LabTakizawa/nginx-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, env, nginx, documentation, ci, vscode

.github/labeler.yml:

docker:
- changed-files:
  - any-glob-to-any-file: 'compose.yml'
env:
- changed-files:
  - any-glob-to-any-file: '.env'
nginx:
- changed-files:
  - any-glob-to-any-file: '*.conf'
documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
ci:
- changed-files:
  - any-glob-to-any-file: ['.github/workflows/*.yml', '.github/dependabot.yml']
vscode:
- changed-files:
  - any-glob-to-any-file: '.vscode/*'
enhancement:
 - head-branch: ['^feature', 'feature', '^enhancement', 'enhancement']

Create labeler.yml
  .github/workflows/labeler.yml
Labels: ci

Update dependabot.yml
  .github/dependabot.yml
Labels: ci

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Delete .vscode
  .vscode/extensions.json
Labels: vscode

Update README.md
  README.md
Labels: documentation

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Update feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: ci
